@import "tailwindcss";

@font-face {
  font-family: 'Amazon Ember';
  src: url('/src/assets/fonts/AmazonEmber_W_Rg.woff2') format('woff2'),
    url('/src/assets/fonts/AmazonEmber_W_Rg.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('/src/assets/fonts/AmazonEmber_W_Md.woff2') format('woff2'),
    url('/src/assets/fonts/AmazonEmber_W_Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('/src/assets/fonts/AmazonEmber_W_SBd.woff2') format('woff2'),
    url('/src/assets/fonts/AmazonEmber_W_SBd.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('/src/assets/fonts/AmazonEmber_W_Bd.woff2') format('woff2'),
    url('/src/assets/fonts/AmazonEmber_W_Bd.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: 'Amazon Ember', sans-serif;
}